<div class="row">
  <div class="small-12 columns"><h1>My sad tutorial blog</h1></div>
</div>
<div class="row">
  <div class="small-4 columns"></div>
  <div class="small-8 columns"><%= link_to 'My Blog', controller: 'articles' %></div>
</div>

 <!--TODO Move root to blog index and delete this atrocity-->
